version: '3.8'

services:
  web:
    build:
      context: ../..
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ../src:/app/src
    environment:
      - NODE_ENV=development
      - PORT=3000

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/site.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=yourusername
      - POSTGRES_PASSWORD=yourpassword
      - POSTGRES_DB=pokemongocommunity
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: